.post-section-background-color {
    background-color: var(--body-color);
    .suggestion-secton {
        text-align: center;
        margin: 15px 0px;
        .text {
            color: var(--text-color);
            font-size: 1.6rem;
            margin: 0;
            .place {
                font-weight: 700;
            }
        }
    }

    .filter-section {
        display: flex;
        align-items: center;
        justify-content: left;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 8px 0px;
        label {
            color: var(--text-color);
            font-size: 1.6rem;
            margin-right: 10px;
        }

        .select-input {
            font-size: 1.6rem;
            width: 45%;
        }
    }

    .post-section {
        background-color: #fff;
        border-radius: 10px;
        margin-top: 10px;
        .post-wrapper {
            position: relative;
            padding: 20px;
            .post-upper {
                display: flex;
                .post-image {
                    width: 100px;
                    height: 100px;
                    border-radius: 5px;
                }
                .post-info {
                    margin-left: 20px;
                    .post-name {
                    }

                    .address {
                        font-size: 1.3rem;
                        color: var(--subText-color);
                        margin-bottom: 4px;
                    }

                    .btn {
                        background-color: #efeff4;
                        color: #4e595d;
                        font-size: 1.5rem;
                        border: none;
                        border-bottom: 1px solid #c7cdcf;
                        padding: 4px 10px;
                        .icon {
                            margin-right: 8px;
                            color: #4e595d;
                        }
                    }
                }
            }

            .description-wrapper {
                .heading {
                    margin-top: 8px;
                    margin-bottom: 0px;
                }

                .text {
                    font-size: 1.2rem;
                    color: var(--subText-color);
                    margin: 0;
                }
            }

            .rating-wrapper {
                background-color: #73cf42;
                position: absolute;
                padding: 4px;
                border-radius: 10px;
                top: 20px;
                right: 20px;
                span {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: #fff;
                }
            }
        }
    }
}
