<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="dynamic(main)"
>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/5a854a2686.js" crossorigin="anonymous"></script>
</head>
<body>
	<div>
		<header th:replace="/layout/header.html"></header>
		<main th:replace="${main}"></main>
		<footer th:replace="/layout/footer.html"></footer>
	</div>
</body>
</html>