* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --header-color: #1d1c1c;
    --text-color: #fff;
    --body-color: #2e2d2d;
    --subText-color: #959b9e;
    --header-height: 60px;
}
