.background-color {
    background-color: rgba(73, 69, 69, 0.5); /* Màu nền với độ trong suốt */
    width: 100%;
    height: 100vh;
}
.home-background {
    width: 100%;
    height: 100vh; /* Set the height as needed */

    justify-content: center;
    align-items: center; /* Set text color to be visible on the image */
    backdrop-filter: blur(50px);
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translateY(-20px);
}

.intro_text {
    font-size: 80px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.text_1 {
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-align: center;
}

input {
    padding: 15px; /* Điều chỉnh độ dày và chiều cao để làm to */
    width: 550px;
    border-radius: 10px; /* Bo góc */
    border: 1px solid #ccc; /* Viền */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.dropbtn:hover {
    background-color: #f1f1f1;
}

.dropdown-content a:hover {
    background-color: #ccc;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1;
}

.dropdown-content a {
    padding: 15px;
    text-decoration: none;
    display: block;
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ccc;
}

.group-search {
    display: flex;
    .btn {
        font-size: 1.4rem;
        margin-left: 10px;
        font-weight: 700;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 4px;
        border: 1px solid #ccc;
        border-radius: 2px;
        &:hover {
            background-color: #ccc;
        }
        .icon {
            margin-right: 5px;
        }
    }
}
