.d-flex {
    display: flex;
    align-items: center;
}

.logo-section {
    display: flex;
    align-items: center;
    height: var(--header-height);
    color: var(--text-color);
    text-decoration: none;
    .header-logo {
        height: 50px;
        width: 50px;
        margin-right: 8px;
    }
}

.search-section {
    display: flex;
    margin-left: 20px;
    align-items: center;

    .input {
        padding: 6px;
        font-size: 1.4rem;
        border-radius: 5px;
        margin: 0px 2px;
    }

    .search-icon {
        font-size: 2rem;
        font-family: 700;
        margin-left: 8px;
        cursor: pointer;
    }
}

.account-section {
    display: flex;
    align-items: center;
    height: var(--header-height);
    justify-content: right;
    .btn {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--text-color);
        padding: 4px 20px;
        text-decoration: none;
        &:hover {
            background-color: #ccc;
        }
        + .btn {
            margin-left: 10px;
        }
    }
    .btn-down {
        font-size: 1.5rem;
        font-weight: 600;
        background-color: #9886e5;
        color: var(--text-color);
        margin-right: 5px;
    }

    .user-name {
        font-size: 1.4rem;
        text-overflow: ellipsis;
        width: 150px;
        overflow: hidden;
        white-space: nowrap;
        margin-left: 5px;
    }

    .number-sol {
        font-size: 1.4rem;
        color: #9886e5;
        margin-right: 5px;
    }
}

// css search places
.box {
    background-color: #fff;
    width: 176px;

    .list {
        list-style: none;
        padding: 0;

        .item {
            .link {
                color: #000;
                text-decoration: none;
                display: block;
                padding: 5px 4px;
                font-size: 1.4rem;
                font-weight: 700;
                .address {
                    font-size: 1.2rem;
                    color: var(--subText-color);
                }

                &:hover {
                    background-color: #ccc;
                }
            }
        }
    }
}
