.post-wrapper {
    position: relative;
}

.post {
    background-color: #f0f0f0;

    margin-top: 20px;
    color: #2e2d2d;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.avatar-overlay {
    top: 80px;
    left: 10px;
    position: absolute;
    z-index: 1;
}

.avatar {
    max-width: 35px;
    max-height: 35px;
    border-radius: 15%;
}

.backpost-container {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;
    position: relative;
}

.backpost {
    width: 100%;
    height: 150px;
}

.follow-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.follow-button:hover {
    background-color: #094169; /* Change to your preferred hover color */
}

.info {
    text-align: left;

    margin-top: 10px;
    margin-left: 10px;
}

.name {
    font-weight: bold;
    color: #007bff;
    font-size: 1.6rem;
}

.address {
    margin-top: 5px;
    font-style: italic;
}

.divider {
    border: none;
    border-top: 1px solid #303030;
    margin: 1px 1px;
}

.description {
    margin-top: 5px;
    text-align: left;
    margin-left: 10px;
}

.like_trong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; // Đảm bảo chiều cao 100% của màn hình
    background-color: #2e2d2d; /* Màu nền với độ trong suốt */
    font-size: 20px;
    color: #ffffff;
}

.post_trong {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh; // Đảm bảo chiều cao 100% của màn hình
    background-color: #2e2d2d; /* Màu nền với độ trong suốt */
    font-size: 20px;
    color: #ffffff;
}

.gift-btn {
    position: absolute;
    font-size: 1.4rem;
    right: 5px;
    top: 5px;
    z-index: 100;
}

.gift-icon {
    margin-right: 4px;
}

.modal-wrapper {
    max-height: 470px;
    overflow-y: scroll;
}

.modal {
    display: flex;
    margin-bottom: 10px;
    .img-background {
        background-color: #ffb323;
        display: flex;
        width: 132px;
        height: 146px;
        border-radius: 30px;
        .gift-icon-modal {
            margin: auto;
            font-size: 5rem;
        }
    }

    .text-heading {
        font-size: 1.4rem;
    }

    .text {
        margin: 0;
        font-size: 1.2rem;

        .bold {
            font-weight: 700;
        }
    }

    .wrapper-btn {
        margin-top: 10px;

        .btn {
            font-size: 1.3rem;
        }
    }
}
