// src/components/ProductCard.module.scss
.background-color{
  background-color: #2E2D2D; /* Màu nền với độ trong suốt */
  width: 100%;
    height: 100vh;
}


.container_card {
  display: flex;
  flex-direction: column;
  
 
  min-height: 30vh;
  margin: 0 auto;

}

.recentlist{
  margin: 10px;
  color: #ffffff;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: #ffffff;
  
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  margin: 10px;

  .product-image {
   
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .product-info {
    text-align: center;

    .product-name {
      margin: 10px 0;
    }

    .product-intro {
      font-weight: bold;
    }
  }
}
.container_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  margin: 0 auto;
}



.userProfile {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.leftSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userInfo {
  margin-left: 10px;
  color: white;
  font-size: 1.2em;
  margin-top: 10px; 
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  margin-right: 10px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.rightSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px; /* Tạo khoảng cách giữa ảnh và thông tin */
  color: #ffffff;
  font-size: 15px;
}




.stats {
  display: flex;
  text-align: center;
  flex-direction: row; /* Sắp xếp theo hàng ngang */
}

.stat {
  margin-right: 15px; /* Khoảng cách giữa mỗi mục */
  padding-right: 10px; /* Khoảng cách giữa số lượng và tên */
  border-right: 1px solid #ccc; /* Vách ngăn */
}

.stat:last-child {
  margin-right: 0; /* Loại bỏ khoảng cách và vách ngăn của mục cuối cùng */
  border-right: none; /* Loại bỏ vách ngăn của mục cuối cùng */
}
.stat span {
  display: block; /* Hiển thị mỗi số và tên trên một dòng */
  margin-bottom: 5px; /* Khoảng cách giữa số và tên */
}

.stat span:first-child {
  font-weight: bold; /* Đặt chữ số là đậm */
}


.editButton {
  margin-top: 10px;
  padding: 10px 15px; /* Điều chỉnh padding để nút gần hơn */
  margin-left: 10px; /* Điều chỉnh margin để nút và thông tin gần hơn */
  background-color: #3498db;
  border-radius: 10px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}
