.heading-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    .text {
        text-align: center;
    }
}

.left-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);

    .logo-section {
        display: flex;
        align-items: center;
        height: var(--header-height);
        .header-logo {
            height: 50px;
            width: 50px;
            margin-right: 8px;
        }
    }

    .account-section {
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
            height: 35px;
            width: 35px;
        }

        h4 {
            margin-left: 4px;
            margin-bottom: 0;
        }
    }
}
